<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>PronunceTrainer</title>
    <link rel="stylesheet" href="../static/stylesheet/pronounce-ai-trainer.css" />
</head>

<body class="text-center text-success">
    <h1 class="fs-1 fw-semibold text-center text-secondary">Pronunciation trainer</h1>
    <input id="text-1" class="form-control-plaintext border rounded-0 border-1" type="text" value="Plain Text Value" />
    <div>
        <p>Enter the word you want to practice:</p>
        <textarea id="referenceWord" placeholder="Enter reference word"></textarea>
    </div>
    <button id="button-1" class="btn btn-primary" type="button">Button</button>
    <button id="button-2" class="btn btn-primary" type="button">Button</button>
    <button id="suggestRandomWord">Suggest Random Word</button>
    <button id="microphone">Start Microphone</button>
    <button id="playRecording">Play Recording</button>
    <button id="feedback">Provide Feedback</button>
    <script src="../static/javascript/connector.js"></script>
    <script src="../static/javascript/get_random_word.js"></script>

    <audio id="audio" controls autoplay> </audio>
    <source src="http://127.0.0.1:5000/reference_recordings/pronunciation_banana.mpeg" type="audio/mpeg">


</body>

</html>